*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	width: 100vw;
	overflow: hidden;
}
body{
	background: #191919;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
p{
	color: #fff;
	font-size: 18px;
	margin-top: 5px;
}


.pencil{
	width: 280px;
	height: 40px;
	background: linear-gradient(90deg, #494949 7%, #FF0052 7%, #FF0052 79%, #494949 79%, #494949 95%, #FF0052 95%);
	clip-path: polygon(82% 0, 100% 50%, 82% 100%, 0 100%, 0 0);
	border-radius: 3px;
}


.container{
	width: 300px;
	height: 10px;
	background: #FF0052;
	border-radius: 5px;
	position: relative;
	animation: animate 4s infinite;
}
.container .pencil{
	position: absolute;
	top: -120px;
	left: 255px;
	transform: rotate(135deg);
	animation: animate2 4s infinite;
}


@keyframes animate{
	0%, 90%, 100%{
		width: 0;
		
	}
	40%, 50%{
		width: 300px;
		
	}
}
@keyframes animate2{
	0%{
		left: -40px;
		transform: rotate(135deg);
	}
	40%{
		left: 255px;
		transform: rotate(135deg);
	}
	50%{
		left: 255px;
		transform: rotate(310deg);
	}
	90%{
		left: -40px;
		transform: rotate(310deg);
	}
	100%{
		left: -40px;
		transform: rotate(135deg);
	}
}